/*CARD CONTAINER*/
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    margin-top: 10px !important;
}

.cards__card {
    background-color: white;
    padding: 20px !important;

    border-radius: 5px;

    min-width: 270px;
}

.card__header > p {
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    font-weight: 500;
}

.card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px !important;
}

.card__footer > button {
    margin: 0 !important;
}
