.btn {
    font-size: 14px;
    border-radius: 3px;
}

.btn-danger, .btn-secondary {
    font-family: HelveticaNeueCyr !important;
    font-weight: 500;
}

.btn-filled {
    color: white !important;
    font-weight: 500 !important;
    background-color: #356089 !important;
}

.btn-filled:hover {
    background-color: #EEA444 !important;
}

.btn-outlined {
    font-weight: 500 !important;
    border: 1px solid #356089 !important;
}

.btn-outlined:hover {
    border: 1px solid #EEA444 !important;
}
