/*COMMON*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: black !important;
    background-color: rgba(220, 220, 220, 0.3);

    font-size: 14px;
}

form {
    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgray;
}

input, textarea, input::placeholder, textarea::placeholder, option, select {
    font-size: 14px !important;
}


h5, h3, .btn {
    font-family: HelveticaNeueCyr;
}

/*CLASSES*/
.pd {
    padding: 0 10%;
}

.mt {
    margin-top: 30px !important;
}

.main-container {
    flex: 1 0 auto;
}

.sign-required {
    font-size: 12px; color: red;
}

.form-control {
    border-radius: 3px;
}

.change-fixed {
    position: fixed;
    top: 10px !important;
}

/*HEADER*/
header {
    border-bottom: 1px solid lightgray;
    background-color: white !important;
}

.navbar-nav > li > a {
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    font-size: 14px;
    color: black;
    margin-bottom: -23px;
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: #356089;
    transition: .5s;
}

#logo {
    width: 140px;
    height: fit-content;
}

/*BUTTONS IN HEADER*/
.navbar-text > .btn {
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    font-size: 14px;
}

/*COLLAPSED MENU*/
.navbar-toggler {
    border: 0;
}

/*PC STYLES*/
@media (min-width: 1200px) {
    /*FOOTER*/
    .footer__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*TABLET STYLES*/
@media (max-width: 990px) {
    /*HEADER*/
    .navbar-nav, .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav-link {
        margin-bottom: 1px !important;
    }

    .buttons > span, .navbar-nav {
        margin: 0 !important;
    }
}

/*PHONE STYLES*/
@media (max-width: 770px) {
    /*FOOTER*/
    .footer__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

/*FOOTER*/
footer {
    flex: 0 0 auto;

    font-size: 14px;
    font-weight: 500;
    font-family: HelveticaNeueCyr;

    margin: 30px 10% !important;
    padding-top: 30px !important;

    border-top: 1px solid rgba(0, 0, 0, 0.6);

    opacity: 60%;
}

.navbar__list, .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    list-style: none;
    padding: 0 !important;
}

footer > a {
    font-size: 14px;
    font-weight: 600;
    font-family: HelveticaNeueCyr;

    color: #212529;
}

footer > p {
    margin-top: 20px !important;
}
