/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pd {
    padding: 0 10%;
}

body {
    background-color: rgba(220, 220, 220, 0.5);
}

/* HEADER */
header {
    border-bottom: 1px lightgray solid;
    background-color: white !important;
}

.navbar-nav > li > a {
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    font-size: 14px;
    color: black;
    margin-bottom: -25px;
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: #356089;
    transition: .5s;
}

#logo {
    width: 140px;
    height: fit-content;
}

.navbar-text > .btn-login {
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    font-size: 14px;
    color: white;
    background-color: #356089;
}

.navbar-text > .btn-outline-primary {
    padding: 5px 10px;
    border: #356089 1px solid;
}

.navbar-text > .btn-outline-primary:hover {
    background-color: transparent;
    border: #EEA444 1px solid;
}

.navbar-text > .btn-login:hover {
    color: white;
    background-color: #EEA444;
}


