/*PC STYLES*/
@media (min-width: 1200px) {
    #characteristics {
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }
}

/*TABLET STYLES*/
@media (max-width: 990px) {
    #characteristics {
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }
}

/*PHONE STYLES*/
@media (max-width: 770px) {
    #characteristics {
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }
}

#characteristics > label {
    width: fit-content;
    cursor: pointer;
}
