/*MAIN CONTAINER*/
.main-container {
    margin-top: 30px;
}

/*CONTAINERS*/
.container__secondary-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container__secondary-body > div {
    padding: 10px;
    margin-top: 10px;
}

.body__object {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
}

.body__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*COMPLEX*/
.object__inner {
    position: relative;
}

/*TITLE*/
.objects-in-complex {
    margin-top: 10px !important;
}

.objects-in-complex > h5 {
    margin-bottom: 0 !important;
}

.complex-description {
    text-align: justify;
}

/*CAROUSEL*/
.carousel-item {
    position: relative;
}

.carousel-item__gradient {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

.carousel-inner {
    border-radius: 3px;
}

.slider-image {
    height: 100%;
    object-fit: cover;
}

/*PC STYLES*/
    @media (min-width: 1200px) {
        /*CAROUSEL*/
        .body__carousel {
            width: 100%;
            height: 650px;
        }
        
        /*TITLE*/
        .body__title {
            position: absolute;
            bottom: 60px;
            left: 80px;
        }
        
        .body__title > h5, .body__title > span {
            margin-bottom: 0;
            color: white;
            font-size: 36px;
        }
        
        .body__title > span {
            font-weight: 500;
            font-size: 18px !important;
        }
    }
    
    /*TABLET STYLES*/
    @media (max-width: 1200px) {
        /*CAROUSEL*/
        .body__carousel {
            width: 100%;
            height: 650px;
        }
        
        /*TITLE*/
        .body__title {
            position: absolute;
            bottom: 60px;
            left: 70px;
        }
        
        .body__title > h5, .body__title > span {
            margin-bottom: 0;
            color: white;
            font-size: 36px;
        }
        
        .body__title > span {
            font-weight: 500;
            font-size: 18px !important;
        }
    }

    /*PHONE STYLES*/
    @media (max-width: 770px) {
        /*CAROUSEL*/
        .body__carousel {
            width: 100%;
            height: 300px;
        }
        
        /*TITLE*/
         .body__title {
            position: absolute;
            bottom: 60px;
            left: 30px;
        }
        
        .body__title > h5, .body__title > span {
            margin-bottom: 0;
            color: white;
            font-size: 20px;
        }
        
        .body__title > span {
            font-weight: 500;
            font-size: 12px !important;
        }
    }
