/*MAIN CONTAINER*/
h3 {
    font-family: var(--main-font);
    margin: 20px 0 !important;
    text-align: center;
}

.checkboxes__link {
    text-decoration: underline !important;
}
 
.pattern-error {
    color: red;
    margin-top: 5px;
}

/*TAB BUTTONS*/
.tabs {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#word {
    position: absolute;
    top: 35%;
    left: 52%;
}

.tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px !important;
}

.tab-header__item {
    padding: 7px;
    color: #356089;
    border-radius: 3px;
    border: 1px solid #356089;

    font-size: 16px !important;

    cursor: pointer;
}

.tab-header__item.active {
    color: white;
    background-color: #356089;
}

/*USER FORM*/
.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputs > span {
    font-size: 12px;
}

/*CHECKBOXES AND REQUIRED MARK*/
.checkboxes {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 5px;
    margin: 20px 0;
}

.checkboxes > label > input {
    margin-right: 10px;
    cursor: pointer;
}

.required-mark {
    font-size: 12px;
    color: red;
}

.required-instruction {
    width: 100%;
    text-align: left !important;
    font-size: 12px;
}

/*SIGNUP BUTTON*/
.btn-signup {
    color: white !important;
    font-weight: 500 !important;
    font-family: var(--main-font);
    transition: .5s !important;
}

/*IMAGE PREVIEW*/
.input-image {
    width: 100%;
}

.input-image > p {
    margin: 0 !important;
}

#image {
    display: none;
}

.label-image {
    width: 100%;
    min-height: 150px;
    padding: 10px;

    border: 3px dotted lightgray;
}

.label-image > label {
    width: 100%;
}

.label-image__title {
    text-align: center;
    font-weight: 600;
    color: lightgray;
    text-decoration: underline;
    cursor: pointer;
}

#image-prev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px ;
}

/*PC STYLES*/
@media (min-width: 1200px) {
    /*CONTAINER*/
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: fit-content;
        padding: 20px !important;
        margin: 0 auto !important;
    }

    /*FORM*/
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 25px 40px !important;

        border: 0 !important;
    }

    .inputs > label > input, .input-password > span {
        width: 400px;
    }

    .checkboxes > label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
    }

    #image-prev > img {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }

    .btn-update {
        margin-top: 40px;
    }
}

/*TABLET STYLES*/
@media (max-width: 1200px) {
    /*CONTAINER*/
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 500px;
        margin: 0 auto !important;
    }

    /*FORM*/
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 0 !important;
    }

    .inputs > label > input,
    .input-password,
    .input-image,
    .required-instruction,
    .checkboxes {
        width: 400px;
    }

    .checkboxes > label {
        display: block;
    }

    #image-prev > img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .btn-signup {
        margin-bottom: 15px;
    }

    .btn-update {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/*PHONE STYLES*/
@media (max-width: 770px) {
    /*CONTAINER*/
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 400px;
        margin: 0 auto !important;
    }

    /*FORM*/
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 0 !important;
    }

    .inputs > label > input,
    .input-password,
    .input-image,
    .required-instruction,
    .checkboxes {
        width: 300px;
    }

    .checkboxes > label {
        display: block;
    }

    #image-prev > img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .btn-signup {
        margin-bottom: 15px;
    }

    .btn-update {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
