/*MAIN CONTAINER*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    padding: 20px !important;
    margin: 0 auto !important;

    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgray;
}

h3 {
    font-family: HelveticaNeueCyr;
    margin: 20px 0 !important;
    text-align: center;
}

/*TAB BUTTONS*/
.tabs {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#word {
    position: absolute;
    top: 35%;
    left: 52%;
}

.tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px !important;
}

.tab-header__item {
    padding: 7px;
    color: #356089;
    border-radius: 3px;
    border: 1px solid #356089;

    font-size: 16px !important;

    cursor: pointer;
}

.tab-header__item.active {
    color: white;
    background-color: #356089;
}

/*USER FORM*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    padding: 25px 40px !important;

    border: 0 !important;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputs > label > input {
    width: 400px;
}

.inputs > span {
    font-size: 12px;
}

.rules {
    margin-bottom: 20px;
}

.required-mark {
    font-size: 12px;
    color: red;
}

.required-instruction {
    width: 100%;
    text-align: left !important;
    font-size: 12px;
}

/*SIGNUP BUTTON*/
.btn-signup {
    color: white !important;
    font-weight: 500 !important;
    background-color: #EEA444 !important;
    font-family: HelveticaNeueCyr !important;
    transition: .5s !important;
    margin-top: 20px;
}

/*IMAGE PREVIEW*/
.input-image {
    width: 100%;
}

.input-image > p {
    margin: 0 !important;
}

#image {
    display: none;
}

.label-image {
    width: 100%;
    min-height: 150px;
    padding: 10px;

    border: 3px dotted lightgray;

    cursor: pointer;
}

.label-image > p {
    text-align: center;
    font-weight: 600;
    color: lightgray;
}

#image-prev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px ;
}

#image-prev > img {
    width: 350px;
    height: 350px;

    object-fit: cover;
}
