/*COMMON*/
.titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0 !important;
}

.titles > h5,
.headers > h5,
.headers > h3 {
    margin-bottom: 0;
}

/*CLASSES*/
.for-user-account {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 10px;

    margin-bottom: 10px !important;
    background-color: white;
    padding: 15px;
}

/*MAIN BLOCKS*/
.main-info__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-info__personal > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
}

.blocks__info > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*AD CONTAINER*/
.last-published-ads__inner, .last-suggested-ads__inner, .last-cancelled-ads__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

/*AD*/
.ad {
    display: flex;
    flex-direction: row;
    gap: 10px;

    width: 100%;
    height: 272px;

    background-color: white;
    border-radius: 3px;
    padding: 10px;
}

.ad__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.info__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info__header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: fit-content;
    opacity: 70%;
}

.info__description {
    margin-top: 20px;
    width: 100%;
}

.ad__image > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.info__price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 20px;
}

.info__price > h5 {
    font-size: 26px;
    margin-bottom: 0;
}

.info__header > h5 {
    margin-bottom: 0;
}

/*AD IMAGE*/
.ad__image > img {
    border-radius: 3px;
}

/*BUTTONS ON AD*/
.ad__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/*PC STYLES*/
@media (min-width: 1200px) {
    /*REALTOR STYLES*/
    .for-realtor-account {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 10px;

        margin-bottom: 10px !important;
        background-color: white;
        padding: 15px;
    }
}

/*TABLET STYLES*/
@media (max-width: 990px) {
    /*REALTOR STYLES*/
    .for-realtor-account {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 10px;

        margin-bottom: 10px !important;
        background-color: white;
        padding: 15px;
    }
}

/*PHONE STYLES*/
@media (max-width: 770px) {
    /*REALTOR STYLES*/
    .for-realtor-account {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        margin-bottom: 10px !important;
        background-color: white;
        padding: 15px;
    }
}
