/*COMMON*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 91.8%;
    font-size: 14px;
    background-color: #DCDCDC;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 0 !important;
}

h5, h3, .btn {
    font-family: HelveticaNeueCyr;
}

.alert {
    width: 100%;
    margin-bottom: 10px !important;
}

.br {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/*MAIN CONTAINER*/
.main-container {
    display: grid;
    grid-template-columns: 230px 5fr;
    gap: 10px;

    height: 100%;
}

.main-container > div {
    margin-right: 10px;
}

/*HEADER*/
header {
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    background-color: white;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

header > div {
    display: grid;
    grid-template-columns: 1fr 200px 70px;
    gap: 10px;
}

header > div > a {
    height: 35px;
}

.header__user {
    margin-top: 15px;
}

#logo {
    width: 140px;
    height: fit-content;
}

/*TABLE*/
table {
    width: 100%;
    background-color: white;
    border-radius: 3px;
}

th, td, tr {
    font-size: 14px;
    padding: 5px 10px;
}

th {
    padding: 10px;
    font-family: HelveticaNeueCyr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 15px 0;
}

#title, #title > h5 {
    margin-bottom: 0 !important;
}

.td-date {
    width: 13%;
}

.td-btn {
    text-align: right;
}

.object-id {
    width: 40px;
}

.centered, .object-id, .date-column {
    text-align: center;
}

/*MODAL WINDOW*/
.modal-body > p {
    margin-bottom: 10px !important;
}
