/*COMMON*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 270px 5fr;

    height: 100%;

    background-color: #DCDCDC ;

    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 0 !important;
}

h5, h3, .btn {
    font-family: HelveticaNeueCyr;
}

.alert {
    min-width: 1310px;
    margin-bottom: 10px !important;
}

.br {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 10px;
}

/*HEADER*/
header {
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background-color: white;
}

.header__user {
    width: 100%;
    margin-bottom: 10px !important;

    font-size: 14px;
    text-align: center;
}

/*NAVIGATION BAR*/
.header__navigation > ul > li {
    cursor: pointer;
}

ul {
    padding: 0 !important;
}

.navigation__ul-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 5px;

    font-size: 14px;
}

.navigation__ul-link:hover {
    background-color: #EEA444;
    border-radius: 5px;
    transition: .5s;
}

.navigation__ul-link > img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin-right: 10px;
}

.navigation__ul-title {
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    font-size: 16px;
}

#logo {
    width: 140px;
    height: fit-content;

    margin-bottom: 10px;
}

/*BUTTONS*/
.btn {
    font-size: 14px;
    margin-right: 10px !important;
}

.btn-danger, .btn-secondary {
    font-family: HelveticaNeueCyr !important;
    font-weight: 500;
}

.btn-filled {
    color: white !important;
    font-weight: 500 !important;
    background-color: #356089 !important;
}

.btn-filled:hover {
    background-color: #EEA444 !important;
}

.btn-outlined {
    font-weight: 500 !important;
    border: 1px solid #356089 !important;
}

.btn-outlined:hover {
    border: 1px solid #EEA444 !important;
}

/*TABLE*/
table {
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

th, td, tr {
    font-size: 14px;
    padding: 5px 10px;
}

th {
    padding: 10px;
    font-family: HelveticaNeueCyr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 20px;
    margin-bottom: 10px !important;

    background-color: white;
    border-radius: 5px;
}

#title > h5 {
    margin-bottom: 0 !important;
}

.td-date {
    width: 13%;
}

.td-btn {
    text-align: right;
}

.object-id {
    width: 40px;
}

.td-centered, .object-id, .date-column {
    text-align: center;
}

/*MODAL WINDOW    */
.modal-body > p {
    margin-bottom: 10px !important;
}
