/*HEADERS*/
h5 {
    font-size: 16px !important;
    margin-bottom: 20px !important;
}

#complex-info-title {
    margin-bottom: 5px !important;
}

#plot-images > h5,
#type > h5,
#complex-images > h5 {
    margin-bottom: 5px !important;
}

.block__text > p,
.labels > p,
#plot-area > div > p {
    margin: 0 !important;
}

/*FORM*/
form {
    padding: 15px;
    border: 0 !important;
}

#plot-area > div,
.set-price__input,
#room-area > div,
#living-area > div,
#total-area > div,
#kitchen-area > div,
#ceiling-height > div {
   display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#plot-area > div > p,
.set-price__input > p,
#room-area > div > p,
#living-area > div > p,
#total-area > div > p,
#kitchen-area > div > p,
#ceiling-height > div > p {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
}

#plot_number,
#plot_area,
#area,
#living_area,
#total_area,
#kitchen_area,
#ceiling_height,
#floor,
#floors,
#bedrooms,
#bathrooms,
#building-floors,
#building_year,
#living_rooms_amount,
#bathrooms_amount,
#street_number,
#number,
#entrance,
#building_area {
    width: 70px;
}

#images, #layout {
    display: none;
}

.label-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.label-images, .label-layout {
    width: 100%;
    min-height: 150px;
    padding: 10px;

    border-radius: 3px;
    border: 3px dotted lightgray;
}

.label-images > label, .label-layout > label {
    width: 100%;
}

.label-images__title, .label-layout__title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px !important;
    color: lightgray;
    cursor: pointer;
    text-decoration: underline;
}

#plot-description,
#room-description,
#flat-description,
#complex-description,
#layout-image {
    margin-bottom: 30px !important;
}

#characteristics {
    display: grid;
    grid-template-columns: 150px 150px;
}

#characteristics > label {
    width: fit-content;
    cursor: pointer;
}

#set-price {
    margin-bottom: 30px !important;
}

.set-price__input > input {
    width: 150px;
}

#layout-prev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#layout-prev > img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#old-images-prev {
    margin-bottom: 10px;
}

#images-error, #floor-error, #submit-error, #year-error {
    color: red;
    margin-bottom: 5px !important;
}

#submit-error {
    text-align: center;
}

#building-floors > div {
    display: grid;
    grid-template-columns: 70px 20px 70px;
    gap: 10px;
}

#building-floors> div > p {
    margin-bottom: 0 !important;
    margin-top: 5px !important;
    text-align: center;
}

.btn-submit {
    width: 100%;
    text-align: center;
}

/*IMAGES*/
.images-block {
    position: relative;
}

.images-block > p {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 0 !important;
    width: 20px;
    height: 22px;
    color: white;
    text-align: center;
    background-color: rgba(255, 0, 0, .8);
    border-radius: 3px;
    cursor: pointer;
}

.images-block > img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 3px;
    object-fit: cover;
}

/*LABELS*/
fieldset {
    margin-bottom: 30px !important;
}

/*PC STYLES*/
@media (min-width: 1200px) {
    /*LABELS*/
    .labels {
        display: grid;
        grid-template-columns: 150px 50%;
        align-items: flex-start;

        margin-bottom: 10px;
    }

    #floor-error , #year-error {
        font-size: 12px;
        width: 400px;
    }

    /*IMAGES*/
    #images-prev, #old-images-prev {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

/*TABLET STYLES*/
@media (max-width: 1200px) {
    /*LABELS*/
    .labels {
        display: grid;
        grid-template-columns: 150px 50%;
        align-items: flex-start;

        margin-bottom: 10px;
    }

    #floor-error , #year-error {
        font-size: 12px;
        width: 400px;
    }
    
    #plot-status {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        gap: 10px;
    }

    /*IMAGES*/
    #images-prev, #old-images-prev {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

/*PHONE STYLES*/
@media (max-width: 770px) {
    /*LABELS*/
    .labels {
        display: grid;
        grid-template-columns: 100px 60%;
        align-items: flex-start;
        gap: 10px;

        margin-bottom: 10px;
    }

    #plot-status {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        gap: 10px;
    }

    #floor-error , #year-error {
        font-size: 12px;
        width: 300px;
    }

    /*IMAGES*/
    #images-prev, #old-images-prev {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
}

/*DISABLING ARROWS IN INPUT:NUMBER*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}
