/*HEADERS*/
h5 {
    font-size: 16px !important;
    margin-bottom: 20px !important;
}

#complex-info-title {
    margin-bottom: 5px !important;
}

#plot-images > h5,
#set-price > h5,
#type > h5,
#complex-images > h5,
#room-images > h5,
#layout-image > h5,
#flat-images > h5 {
    margin-bottom: 5px !important;
}

.forms {
    background-color: white;
    padding: 15px;

    border: 1px solid lightgray;
    border-radius: 3px;
}

.headers {
    background-color: white;
    padding: 15px;
    margin: 30px 0;

    border: 1px solid lightgray;
    border-radius: 3px;
}

.headers > p, .block__text > p, .labels > p, #plot-area > div > p {
    margin: 0 !important;
}

/*FORM*/
form {
    border: 0 !important;
}

#plot-area > div,
.set-price__input,
#room-area > div,
#living-area > div,
#total-area > div,
#kitchen-area > div,
#ceiling-height > div {
   display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#plot-area > div > p,
.set-price__input > p,
#room-area > div > p,
#living-area > div > p,
#total-area > div > p,
#kitchen-area > div > p,
#ceiling-height > div > p {
    margin-bottom: 0 !important;
    margin-left: 10px !important;
}

#plot_number,
#plot_area,
#area,
#living_area,
#total_area,
#kitchen_area,
#ceiling_height,
#floor,
#floors,
#bedrooms,
#bathrooms,
#building-floors,
#building_year,
#living_rooms_amount,
#bathrooms_amount,
#street_number,
#number,
#entrance,
#building_area {
    width: 70px;
}

#images, #layout {
    display: none;
}

.label-images, .label-layout {
    width: 100%;
    min-height: 150px;
    padding: 10px;

    border-radius: 3px;
    border: 3px dotted lightgray;

    cursor: pointer;
}

.label-images > p, .label-layout > p {
    text-align: center;
    font-weight: 600;
    color: lightgray;
}

#plot-description,
#room-description,
#flat-description,
#complex-description,
#layout-image {
    margin-bottom: 30px !important;
}

#characteristics {
    display: grid;
    grid-template-columns: 150px 150px;
}

#characteristics > label {
    width: fit-content;
    cursor: pointer;
}

#set-price {
    margin-bottom: 30px !important;
}

.set-price__input > input {
    width: 150px;
}

#layout-prev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#images-prev {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#images-error, #floor-error, #submit-error, #year-error {
    color: red;
    margin-bottom: 0 !important;
}

#floor-error , #year-error {
    font-size: 12px;
    width: 360px;
}

#submit-error {
    text-align: center;
}

#building-floors > div {
    display: grid;
    grid-template-columns: 70px 20px 70px;
    gap: 10px;
}

#building-floors> div > p {
    margin-bottom: 0 !important;
    margin-top: 5px !important;
    text-align: center;
}

.btn-submit {
    width: 100%;
    text-align: center;
}

/*IMAGES*/
.images-block {
    position: relative;
    margin-right: 10px !important;
}

.images-block > p {
    position: absolute;
    top: 10px;
    right: 10px;

    margin-bottom: 0 !important;

    width: 20px;
    height: 22px;

    color: white;
    text-align: center;
    background-color: rgba(255, 0, 0, .8);

    border-radius: 3px;
}

/*LABELS*/
.labels {
    display: grid;
    grid-template-columns: 150px 50%;

    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px !important;
}

/*DISABLING ARROWS IN INPUT:NUMBER*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}
